body{
    background-color: white;
    height: 70vh;
    background-size: cover;
    background-position: center ;
    margin: auto;
    padding: auto;
}
.form{
    max-width: 400px;
    margin: auto;
    padding: auto;
    background-color: rgb(169, 39, 91);
    border-radius: 25px;
    margin-top: 200px;
    height: 400px;
}
.form-group{
    padding: 10px;
    margin: auto;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-group-sub{
    margin: auto;
    padding: auto;
    margin-left: 30px;
    background-color: rgb(0, 128, 28);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.showError{
    text-align: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: red;
    max-width: 400px;
    border-radius: 15px;
    margin-top: 100px;
    margin-bottom: 0px;
    margin-left: 250px;
    height: 30px;
    padding: auto;
}
.form-control{
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: auto;
    margin-bottom: 0px;
}